<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher"
      android:label="Read Aloud"
      android:supportsRtl="true"
      android:theme="@style/MainTheme"
      android:usesCleartextTraffic="false">
    <activity
        android:name="com.microsoft.identity.client.BrowserTabActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
            android:scheme="msalc8b938aa-2e5d-48b4-89c6-fc139733c44d"
            android:host="auth" />
      </intent-filter>
    </activity>
  </application>
</manifest>
